# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
build/*
bin/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/config/config_dev.yml

# Composer
composer.phar

# phpunit
app/phpunit.xml.dist

*.php~

.idea/*
